@charset "UTF-8";
@import url(reset.css);

body {color: #444;}

.container{width: 1200px; margin: 0 auto;}
.cell{float: left; box-sizing: border-box;}
.cell-right{float: right; box-sizing: border-box;}
.text-align-center{text-align: center;}
.block{display: block;}

/* 모바일 */
.visible-on-md-up{display: block;}
.visible-on-md-down{display: none;}

.mobile-top-1-bar{
	position: fixed;
	top: 0; left: 0; width: 100%; height: 100px;
	background: #fff;
	z-index: 10;
}
.mobile-top-1-bar .ico{
	position: relative;
	width: 20px; height: 20px;
	top: 50%; left: 10px;
	transform: translateY(-50%); 
}
.mobile-top-1-bar .ico div{
	position: absolute;
	top: 0; left: 0; width: 100%; height: 20%;
	background: #000;
}
.mobile-top-1-bar .ico div:nth-child(2){
	top: 40%;
}
.mobile-top-1-bar .ico div:nth-child(3){
	top: 80%;
}
.mobile-top-1-bar .ico div:nth-child(1),
.mobile-top-1-bar .ico div:nth-child(3){
	transition: top 0.2s 0.2s, transform 0.2s 0s;
}
.mobile-top-1-bar .ico.active div:nth-child(1),
.mobile-top-1-bar .ico.active div:nth-child(3){
	transform: rotate(45deg); top: 40%;
}
.mobile-top-1-bar .ico.active div:nth-child(3){
	transform: rotate(-45deg);
}
.mobile-top-1-bar .ico.active div:nth-child(2){
	visibility: hidden;
}

.mobile-top-1-bar .logo{
	text-align: center;
	padding: 6px 0;
}

/* 메인메뉴 */
.top-bar .logo{display: block; margin-top: 13px;}

/* sns */
.menu-2{}
.menu-2 ul{}
.menu-2 ul li{}
.menu-2 ul li a{
	padding: 0 5px; line-height: 93px;
	color: #aaa; font-size: 20px;
	transition: .3s;
}
.menu-2 ul li a:hover{color: #444;}

.menu-1{}
.menu-1 ul{}
.menu-1 ul li{}
.menu-1 ul li a{display: block; padding: 35px;}

/* 배너 이미지 */
.top-box-1{height: 250px; position: relative;}
.top-box-1 .slides{}
.top-box-1 .slides .tit{
	position: absolute;
	left: 0; top: 0; right: 0; bottom: 0;
	background: url(http://bdmp-001.cafe24.com/bizdemo63786/img/bom-img/sub_top_pic01.jpg)no-repeat center;
	background-size: cover;
}
.top-box-1 .slides .tit::before{
	content: ""; position: absolute;
	top: 0; left: 50%; width: 30vw; height: 100%;
	background: rgba(0,0,0,0.7);

}
.top-box-1 .slides .tit span{
	position: absolute;
	left: 50%; top: 50%;
	transform: translate(-50%, -50%);
}
.top-box-1 .slides .tit span:nth-child(1){
	top: 45%; color: #fff;
	font-size: 25px; border: 1px solid #fff;
	border-radius: 3px;
	padding: 4px 20px;
}
.top-box-1 .slides .tit span:nth-child(2){
	top: 65%; color: #fff;
	font-size: 14px; letter-spacing: 0.8px;
}


/* 홈메뉴 */
.sub-bg{background: #f2f2f2; border: 1px solid #dadada;}
.sub-bg .sub-menu{}
.sub-bg .sub-menu ul{}
.sub-bg .sub-menu ul li{width: calc(100%/7);}
.sub-bg .sub-menu ul li:first-child{width: 60px;}
.sub-bg .sub-menu ul li a{
	position: relative;
	display: block; padding: 15px 0;
	text-align: center;
}
.sub-bg .sub-menu ul li a::before{
	position: absolute; top: 0; left: 0;
	content: ""; width: 1px; height: 100%;
	background: #dadada;
}

	/* 모바일 홈메뉴 */
	.mobile-sub-menu{display: none;}

	/* 서브 타이틀 */
	.sub-tit{}
	.sub-tit div:nth-child(1){
		font-size: 45px; padding-top: 80px;
		color: #000; text-align: center;
	}
	.sub-tit div:nth-child(2){
		height: 1px; background: grey;
		margin-top: 15px;
	}

	/* 내용 */
	.sub-1-content{text-align: center;}
	.sub-1-content ul{margin-top: 40px;}
	.sub-1-content ul li:nth-child(1){
		margin-bottom: 50px;
		line-height: 35px;
	}
	.sub-1-content ul li.img-box{}
	.sub-1-content ul li.img-box img{
		width: 100%; display: block;
	}

	/* 하단전화, 맵 */
  .bg{
		background: #f0f3f1; 
		margin-top: 70px;padding-top: 25px;
	}
	.bg .tel{ font-size: 20px; width: 49%;}
	.bg .tel ul li ul li{
		font-size: 30px; padding-top: 10px;
		margin-left: 15px;
	}
	.bg .tel ul li ul li:nth-child(1){
		padding-top: 25px;
	}
	.bg .tel ul li ul li:nth-child(3){
		padding-top: 20px; font-size: 14px;
		padding-bottom: 20px; line-height: 2;
	}

	.bg .map{font-size: 20px; width: 49%;}
	.bg .map #map{height: 300px; overflow: hidden;}
  .bg .map #map iframe{width: 100%;}


	/* footer */
	.bg-2{background: #384f43; padding: 20px 0;}
	.bg-2 ul li a{
		color: #fff; padding-right: 20px;
		font-size: 12px; opacity: 0.7;
	}
	.bg-3{background: #4c5459; padding: 10px 0;}
	.bg-3 .copyright-2 img{padding: 6px 80px 10px 0;}
	.bg-3 ul li{color: #fff;}
	.bg-3 ul li:nth-child(1){
		font-size: 12px; letter-spacing: -0.5px;
		padding-bottom: 10px;
	}
	.bg-3 ul li:nth-child(2){font-size: 14px; padding-bottom: 5px;}
	.bg-3 ul li:nth-child(3){font-size: 10px; letter-spacing: 0.5px;}


	/* 위로 가는 버튼 */
	.to-top{
		display: none; position: fixed; 
		bottom: 15px; right: 20px;
		background: rgba(0,0,0,0.9);
		padding: 5px 10px; font-size: 20px;
		z-index: 100;
	}
	.to-top i{color: #fff;}






@media(max-width:1220px){
	.container{width: 100%;}
}
@media(max-width:1010px){
	.container {
    margin-left: 15px; margin-right: 15px;
    width: auto;
  }
	.visible-on-md-up{display: none;}
	.visible-on-md-down{display: block;}

	/* 사이트메뉴 */
	.left-side-bar-box{
		position: fixed;
		top: 0; left: 0; width: 100%; height: 100%;
		background-color: rgba(0,0,0,0);
		z-index: 9; visibility: hidden;
		transition: 0.3s;
	}
	.left-side-bar-box.active{
		background-color: rgba(0,0,0,0.5);
	  visibility: visible;
	}
	.left-side-bar{
		position: absolute;
		top: 0; left: -300px; width: 300px; height: 100%;
		background-color: rgba(0,0,0,0.6);
		padding-top: 100px; box-sizing: border-box;
		transition: .5s;
	}
	.left-side-bar-box.active .left-side-bar{left: 0;}
	.left-side-bar .menu-1{}
	.left-side-bar .menu-1 a{
		color: #fff;
	  padding: 10px 0 10px 8px;
	}
	.left-side-bar .menu-1 a::after{
		content: "+";
		float: right; margin-right: 10px;
	}
	.left-side-bar .menu-1 ul ul{
		display: none;
		background: #efefef;
	}
	.left-side-bar .menu-1  ul li.active ul{
		display: block;
	}
	.left-side-bar .menu-1 ul ul>li>a{
		color: #222;
	}
  /* 홈메뉴 */
  .sub-menu{display: none;}

	/* 모바일 홈메뉴 */
  .mobile-sub-menu{display: block;}
  .mobile-sub-menu ul li{
		/* 1em = 자신이 가진 폰트 크기 */
		font-size: 0.9em; padding: 0 3px;
		line-height: 2.5;
	}
	
}
@media(max-width:630px){
	.bg .tel{width: 100%;}
	.bg .map{width: 100%;}
}